@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --accent: 237 50% 7%;
    --background: 213 100% 49%;
    --background-light: 189 74% 57%;

    --border: 189 100% 78%;

    --primary: 0 0% 94%;
    --primary-foreground: 0 0% 16%;
    --secondary: 0 0% 80%;

    --board: 228 14% 93%;

    --transition: cubic-bezier(.075, .82, .165, 1);
  }

}



@layer base {
  * {
    @apply border-border;
    @apply font-medium;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  overflow-x: hidden;
  background: linear-gradient(to bottom, hsl(var(--background-light)), hsl(var(--background)));
}

.custom-transition {
  transition-timing-function: var(--transition);
}